---
import { url_site } from "../functions";
interface Props {
  url: string;
}

const { url } = Astro.props;

interface Site {
  name: string;
  image?: string;
}

// https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://www.wikidata.org&size=32

const SITES: Record<string, Site> = {
  "bandcamp.com": { name: "Bandcamp", image: "bandcamp.com.png" },
  "soundcloud.com": { name: "Sound Cloud", image: "soundcloud.com.ico" },
  "spotify.com": { name: "Spotify", image: "spotify.com (2).png" },
  "apple.com": { name: "Apple", image: "music.apple.com.png" },
  "deezer.com": { name: "Deezer", image: "deezer.com.png" },
  "wikipedia.org": { name: "Wikipedia", image: "wikipedia.org.png" },
  "wikidata.org": { name: "WikiData", image: "wikidata.org.png" },
  "musicbrainz.org": { name: "Music Brainz", image: "musicbrainz.org.png" },
  "discogs.com": { name: "Discogs", image: "discogs.com.png" },
  "allmusic.com": { name: "All Music", image: "allmusic.com.jpg" },
  "progarchives.com": { name: "Prog Archives", image: "progarchives.com.png" },
  "rateyourmusic.com": {
    name: "Rate Your Music",
    image: "rateyourmusic.com.png",
  },
  "albumoftheyear.org": {
    name: "Album of the Year",
    image: "albumoftheyear.org.png",
  },
  "theguardian.com": { name: "The Guardian", image: "theguardian.com.png" },
  "pitchfork.com": { name: "Pitchfork", image: "pitchfork.com (2).png" },
  "nme.com": { name: "NME", image: "nme.com.png" },
  "undertheradarmag.com": {
    name: "Under the Radar",
    image: "undertheradarmag.com.gif",
  },
  "slantmagazine.com": { name: "Slant", image: "slantmagazine.com (2).png" },
  "popmatters.com": { name: "Pop Matters", image: "popmatters.com.jpg" },
  "starsend.org": { name: "Star’s End" },
  "bbc.co.uk": { name: "BBC", image: "bbc.co.uk.png" },
  "music.youtube.com": {
    name: "YouTube Music",
    image: "music.youtube.com.png",
  },
  "archive.org": { name: "Internet Archive", image: "" },
  "facebook.com": { name: "FaceBook", image: "facebook.com.png" },
  "google.com": { name: "Google", image: "google.com.png" },
  "gramophone.co.uk": { name: "Gramophone", image: "gramophone.co.uk.png" },
  "progrography.com": { name: "Progrography" },
  "twitter.com": { name: "Twitter", image: "twitter.com.png" },
  "imdb.com": { name: "IMDB", image: "imdb.com.png" },
  "tidal.com": { name: "Tidal", image: "tidal.com.png" },
  "tvtropes.org": { name: "TV Tropes", image: "tvtropes.org.png" },
  "instagram.com": { name: "Instagram", image: "instagram.com.png" },
  "jazzdisco.org": { name: "Jazz Discography", image: "jazzdisco.org.png" },
  "metacritic.com": { name: "MetaCritic", image: "metacritic.com.png" },
  "sf-encyclopedia.com": {
    name: "SF Encyclopedia",
    image: "sf-encyclopedia.com.png",
  },
  "rollingstone.com": { name: "Rolling Stone", image: "rollingstone.com.png" },
  "themoviedb.org": { name: "The Movie DB", image: "themoviedb.org.png" },
};

const domain = url_site(url);
let { name, image } =
  domain in SITES ? SITES[domain] : { name: domain, image: undefined };

if (url.includes("?kgmid=/g/")) name = "Knowledge Graph";
if (url.includes("?kgmid=/m/")) name = "Freebase";
---

<a href={url}>{image ? <img src={"/image/" + image} /> : null} {name}</a>

<style>
  a {
    display: inline-block;
    text-indent: 0;
  }
  img {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
  }
</style>
