---
import { url_site } from "../functions";
import { SITES } from "../sites";

interface Props {
  url: string;
}

const { url } = Astro.props;

const domain = url_site(url);
let { name, image } =
  domain in SITES ? SITES[domain] : { name: domain, image: undefined };

if (url.includes("?kgmid=/g/")) name = "Knowledge Graph";
if (url.includes("?kgmid=/m/")) name = "Freebase";
---

<a href={url}>{image ? <img src={"/image/" + image} /> : null} {name}</a>

<style>
  a {
    display: inline-block;
    text-indent: 0;
  }
  img {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
  }
</style>
