<header class="main-head">
  <div class="kind"><slot /></div>
  <div></div>
  <div class="brand">
    Vermilion Sands <a href="https://www.facebook.com/VermilionSands10k"
      ><img src="/image/facebook.com.png" /></a
    >
    <a href="https://twitter.com/VermiSands"
      ><img src="/image/twitter.com.png" /></a
    >
  </div>
</header>

<style>
  img {
    height: 1.3rem;
    vertical-align: text-bottom;
  }
</style>
