---
import { release_artist_names, release_image_src } from "../functions";
import type { Release } from "../types";

interface Props {
  releases: Release[];
  hide?: string;
  large?: boolean;
}

const { releases = [], hide = "", large = false } = Astro.props;
---

<div class={"releases" + (large ? " large" : "")}>
  {
    releases.map((r) => (
      <div class="card">
        <a href={`/release/${r.id}`}>
          <img src={release_image_src(r)} />
        </a>
        {hide.includes("Y") ? null : (
          <a href={`/year/${r.date.substring(0, 4)}`}>
            {r.date.substring(0, 4)}
          </a>
        )}
        {hide.includes("A") || r.artists.length == 0 ? null : (
          <b>{release_artist_names(r)}</b>
        )}
        {hide.includes("T") ? null : <i>{r.title}</i>}
      </div>
    ))
  }
</div>

<style>
  .releases {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    width: 9rem;
    overflow-x: hidden;
  }
  .large .card {
    width: 14.5rem;
  }

  img {
    display: block;
    width: 9rem;
    height: 9rem;
    margin-bottom: 0.25rem;
  }
  .large img {
    width: 14.5rem;
    height: 14.5rem;
  }
</style>
