---
import ExternalLink from "./ExternalLink.astro";

interface Props {
  sep?: string;
  links: [string, string, string?][];
  external?: boolean;
}

const { sep = " • ", links = [], external = false } = Astro.props;
---

<>
  {
    links.map(([url, txt, xtra], i) => (
      <>
        {i == 0 ? "" : sep}
        {external ? <ExternalLink {url} /> : <a href={url}>{txt}</a>}
        {xtra}
      </>
    ))
  }
</>
