---
// https://ogp.me

interface Props {
  title: string;
  hide?: string;
  og_title?: string;
  og_description?: string;
  og_image?: string;
  og_url?: string;
  og_type?: string;
}

const { title, hide = "", ...meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Vermilion Sands" />
    <meta property="og:site_name" content="Vermilion Sands" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {
      Object.entries(meta).map(([key, val]) => (
        <meta property={key.replace("_", ":")} content={val} />
      ))
    }
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class={hide.length == 0
        ? "wrapper"
        : `wrapper hide-${hide.toLowerCase()}`}
    >
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");

  :root {
    --bg-body: hsl(0, 0%, 10%);
    --fg-body: hsl(0, 0%, 80%);
    --fg-link: hsl(350, 50%, 80%);
    --bg-head: hsl(350, 70%, 50%);
    --fg-head: hsl(350, 70%, 10%);
    --bg-panl: hsl(0, 0%, 20%);

    --face-body: Merriweather, serif;
    --face-head: system-ui, sans-serif;
    --wght-norm: 300;
    --wght-ital: 300;
    --wght-bold: 700;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    font-family: var(--face-body);
    font-weight: var(--wght-norm);
    background-color: var(--bg-body);
    color: var(--fg-body);
  }
  * {
    box-sizing: border-box;
  }
  a {
    color: var(--fg-link);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  b,
  strong {
    font-weight: var(--wght-bold);
  }
  i,
  em {
    font-weight: var(--wght-ital);
  }

  .wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: 0 1fr 0;
    grid-template-areas:
      "head head head"
      ".    name    ."
      ".    side    ."
      ".    text    ."
      ".    wide    .";
  }
  .wrapper.hide-s {
    grid-template-areas:
      "head head head"
      ".    name    ."
      ".    text    ."
      ".    wide    .";
  }
  .wrapper.hide-t {
    grid-template-areas:
      "head head head"
      ".    name    ."
      ".    side    ."
      ".    wide    .";
  }
  .wrapper.hide-st,
  .wrapper.hide-ts {
    grid-template-areas:
      "head head head"
      ".    name    ."
      ".    wide    .";
  }

  @media (min-width: 46rem) {
    .wrapper {
      grid-template-columns: 1fr minmax(20rem, 30rem) minmax(20rem, 30rem) 1fr;
      grid-template-areas:
        "head head head head"
        ".    name name    ."
        ".    text side    ."
        ".    wide wide    .";
    }
    .wrapper.hide-s {
      grid-template-areas:
        "head head head head"
        ".    name name    ."
        ".    text text    ."
        ".    wide wide    .";
    }
    .wrapper.hide-t {
      grid-template-areas:
        "head head head head"
        ".    name name    ."
        ".    side side    ."
        ".    wide wide    .";
    }
    .wrapper.hide-st,
    .wrapper.hide-ts {
      grid-template-areas:
        "head head head head"
        ".    name name    ."
        ".    wide wide    .";
    }
  }

  .main-head {
    grid-area: head;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    background-color: var(--bg-head);
    color: var(--fg-head);
    padding: 0.2rem 0.5rem;
    font-family: var(--face-head);
    text-transform: uppercase;
  }

  .main-head .brand {
    align-self: end;
    font-weight: 700;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }

  .main-head .kind {
    align-self: end;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.05rem;
    white-space: nowrap;
  }

  .main-name {
    grid-area: name;
  }

  h1.main-name {
    margin: 0;
    padding: 0;
  }

  .main-side {
    grid-area: side;
    /* font-weight: 300; */
    /* font-size: 1.1rem; */
    line-height: 1.5rem;
  }

  .main-side img {
    width: 100%;
  }

  .main-text {
    grid-area: text;
    /* font-weight: 300; */
    /* font-size: 1.1rem; */
    line-height: 1.5rem;
  }

  .main-wide {
    grid-area: wide;
    margin-bottom: 1rem;
    line-height: 1.4rem;
  }
</style>
